// FONTS
$font-stack: "Lato", sans-serif;

// COLORS
$light-green: rgb(126, 213, 111);
$medium-green: rgb(85, 197, 122);
$dark-green: rgb(40, 180, 133);


$orange-light: rgb(255, 170, 0);
$blue-light: rgb(0, 197, 255);

$footer-black: #323D38;

$color-black: #000;
$color-gray-light-1: #f7f7f7;

//Widths
$grid-width: 114rem;

// GUTTERS
$horizontal-gutter: 0.5rem;
