@import 'abstracts/mixins';
@import 'base/animations';
@import 'base/utilities';
@import 'base/base';
@import 'abstracts/variables';
@import 'base/typography';



@import 'components/button';
@import 'components/composition';
@import 'components/tourcards';
@import 'components/bg-video';
@import 'components/booking-container';

@import 'layout/header';
@import 'layout/about';
@import 'layout/features';
@import 'layout/tourcardssection';
@import 'layout/story';
@import 'layout/booking';
@import 'layout/footer';
@import 'layout/navigation';
@import 'layout/popup';


// Required BOOTSTRAP
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/grid";

*,
*::after,
*::before{
  padding: 0;
  box-sizing: inherit;
  margin: 0;
}
