@import 'base/animations';
@import 'abstracts/variables';
@import 'base/typography';
@import 'layout/header';
@import 'base/utilities';
@import 'components/button';
@import 'layout/about';
@import 'components/composition';
@import 'layout/features';
@import 'layout/tourcardssection';
@import 'components/tourcards';
@import 'layout/story';
@import 'components/bg-video';
@import 'layout/booking';
@import 'components/booking-container';
@import 'layout/footer';
@import 'layout/navigation';
@import 'layout/popup';


// Required BOOTSTRAP
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/grid";

*,
*::after,
*::before{
  padding: 0;
  box-sizing: inherit;
  margin: 0;
}

html {
    font-size : 62.5%;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 25%;
  }
}
