// ABOUT SECTION
.about-section{
  background-color:$color-gray-light-1;
  padding-top : 22.5rem;
  padding-bottom : 20rem;
  margin-top: -15vh;
  overflow: hidden;

  @include respond(tab-land) {

  }

  @include respond(tab-port) {

  }

  @include respond(phone) {
    padding-bottom: 30rem; 
  }
}
