.section-booking {
  background-image: linear-gradient(to right bottom, $light-green, $dark-green);
  padding : 15rem 10rem;

  &-form-group {
    margin-top: 1rem;

    &:last-of-type {
      margin-top : 3rem; 
    }
  }
}
