.features-section{
  height: 80vh;
  margin-bottom : 10vh;
  background-image: linear-gradient(to right, transparentize($light-green, 0.6), transparentize($dark-green, 0.6)), url('../img/nat-4.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);

  margin-top : -10rem;

  &-card {
    background-color: rgba(darken($color-gray-light-1, 10%), .8);
    margin-top : 20rem;
    height : 45vh;
    border-radius: 15px;
    transition: all .4s;
    &:hover{
      background-color: rgba(darken($color-gray-light-1, 20%), .8);
      box-shadow: .5rem 1rem 1rem rgba($color-black, .2);
      transform: translate(0.2rem, -.2rem);
    }
  }
}
