.navigation {
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 100rem;
  position: fixed;
  box-shadow: -.5rem .5rem 2rem rgba($color-black, .2);
  left : 93%;
  top : 3%;
  z-index: 5;
}
