.section-booking {
  &-container {
    background-image: url('../img/nat-10.jpg');
    background-size: cover;
    box-shadow: 0rem 1.3rem 2rem rgba($color-black, .4);
    height: 50rem;

    &-form {
       background-image : linear-gradient(rgba(white, 0.8), rgba(white, 0.8));
       width: 55%;
       height: 100%;
       clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);

       position : relative;

        &-block {
          width : 80%;
          position : absolute;
          top : 10rem;
          left : 5rem;
        }

       &-input {
         display: block;
         background-color: white;
         border: none;
         border-bottom : .3rem solid transparent;
         font-family: inherit;
         color: inherit;
         font-size: 1.8rem;
         padding : .7rem;
         width: 70%;

         &::-webkit-input-placeholder {
           color : gray;
         }

         &:focus {
           outline : none;
           box-shadow: 0rem 1rem 1rem rgba($color-black, 0.15);
           border-bottom : .3rem solid $light-green;

           &:invalid {
             border-bottom : .3rem solid orangered;
           }
         }

         &:placeholder-shown + &-label {
           visibility: hidden;
           opacity: 0;
           transform : translateY(-3rem);
         }

       }

       &-radio {
         display: block;
         width: 3rem;
         height: 3rem;
         border : 5px solid lighten($dark-green, 10%);
         border-radius: 50%;
         position: absolute;

         &::after {
           content : "";
           height: 1rem;
           width: 1rem;
           border-radius: 50%;
           background-color: lighten($dark-green, 10%);
           position: absolute;
           top: .5rem;
           left: .5rem;

           opacity: 0;
           transition: all .6s;
         }
         &-real {
           visibility: hidden;
         }

         &-real:checked + &-label span::after{
            opacity: 1;
         }
       }

      &-radio-label {
        display : inline-block;
        color : gray;
        width: 30%;
        text-indent: 3.5rem;
        font-size: 1.7rem;
      }

      &-input-label {
        display: block;
        font-size: 1.4rem;
        font-weight: 700;
        margin-left: .2rem;
        margin-top: -.15rem;
        transition: all .5s;
      }

    }
  }
}
