.composition {
  position : relative;
  height: 40rem;

  @include respond(tab-land) {
    height: 25rem;
  }

  @include respond(tab-port) {

  }

  @include respond(phone) {

  }

  &-image {
    position: absolute;
    border-radius: 1rem;
    width: 55%;
    box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, .2);
    transition: all 0.5s;
    outline-offset: 2rem;

    @include respond(tab-land) {

    }

    @include respond(tab-port) {

    }

    @include respond(phone) {
      width: 45%;
    }

    &-1 {
      top : 4rem;
      left : 8rem;

      @include respond(tab-land) {

      }

      @include respond(tab-port) {

      }

      @include respond(phone) {
        left : 4rem;
      }
    }

    &-2 {
      top: 8rem;
      left : 32rem;

      @include respond(tab-land) {
        left: 22rem;
      }

      @include respond(tab-port) {

      }

      @include respond(phone) {
        left : 20rem;
      }
    }

    &-3 {
      top: 20rem;
      left: 24rem;

      @include respond(tab-land) {
        left: 14rem;
        top: 15rem; 
      }

      @include respond(tab-port) {

      }

      @include respond(phone) {
        top: 15rem;
        left: 8rem;
      }
    }

    &:hover {
      transform : scale(1.4);
      z-index: 1;
      outline : 1rem solid $medium-green;
      box-shadow: 0.5rem 0.5rem 0.5rem rgba($color-black, .2);
    }
  }

  &:hover &-image:not(:hover) {
    transform : scale(0.90)
  }

}
