.center-text{
  text-align: center;
}

.margin-bottom-8 {
  margin-bottom: 8rem;
}

.margin-l-5 {
  margin-left: 5rem;
}

display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
